@page
@model Ibas.MenuApp.Pages.ContactInfoModel
@{
}

<h2>Karen´s kontaktinformation</h2>

<ul>
    <li>Navn: Karen</li>
    <li>Email: Karen69@gmail.com</li>
    <li>Telefonnummer: 69081923</li>
</ul>
