@page
@model IndexModel
@{
    ViewData["Title"] = "Menu";
}

<h1>Menu for Næste Uge</h1>

<table>
    <thead>
        <tr>
            <th>Dag</th>
            <th>Varm Ret</th>
            <th>Kold Ret</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Man 02</td>
            <td>Kylling & pasta</td>
            <td>Smørebrød</td>
        </tr>
        <tr>
            <td>Tirs 03</td>
            <td>Græskarsuppe</td>
            <td>Pastasalat</td>
        </tr>
        <tr>
            <td>ons 04</td>
            <td>oksekød & pasta</td>
            <td>Slik</td>
        </tr>
        <tr>
            <td>Tor 05</td>
            <td>Burger</td>
            <td>Brød</td>
        </tr>
        <tr>
            <td>Fre 06</td>
            <td>Pizza</td>
            <td>Suppe</td>
        </tr>
        <!-- Tilføj flere rækker efter behov -->
    </tbody>
</table>


